/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 2%;
  /* margin: 0 auto; */
  height: 200px;
}

.inline{
  display: inline-block;
}

#dealCards{
  display: block;
}

.flex{
  display: flex;
  gap: 2%
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
